@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.login_form {
  width: 300px;
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
  background: #4c7f86;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  color: white;
}
.title_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label_form {
  font-size: 32px;
}
.paragraph {
  color: #bdffbd;
  font-size: 14px;
}
.input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}
.inputs {
  width: 300px;
  padding: 10px;
  border-bottom: 2px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #4c7f86;
  transition: all 600ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  color: #fff;
  border-radius: 8px;
}
.inputs:focus {
  outline-width: 0;
  font-size: 16px;
}
.inputs::placeholder {
    color: #fff;
}
.button_signin {
  width: 149px;
  padding: 12px;
  border: 1px solid #fff;
  background: #fff;
  color: #246c79;
  font-size: 16px;
  border-radius: 22px;
  transition: 0.5s;
  cursor: pointer;
}
.button_signin:hover {
  color: #000;
  background: #bdffbd;
}
.button_signin:focus {
  outline-width: 0;
}
