@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #ad9ac9;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  font-size: 25px;
  font-weight: 500;
  color: #606060;
}
.progress_card {
  width: 420px;
  display: flex;
  padding: 50px 0;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background: #fff;
}
.circular_progress {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: conic-gradient(#e82a93 3.6deg, #ededed 0deg);
}
.circular_progress::before {
  content: "";
  width: 200px;
  height: 210px;
  border-radius: 50%;
  background-color: #fff;
position: absolute;
}
.progress_value {
  font-size: 40px;
  font-weight: 600;
  color: #e82a93;
  z-index: 1000;
}
