.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8fd;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}
.header {
  width: 1300px;
  display: grid;
  padding: 1rem 2rem;
  grid-template-columns: 10% 45% 25%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}
.section_logo {
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image_logo {
  width: 50px;
  height: 50px;
}
.list_items {
  width: 550px;
  display: flex;
  gap: 4px;
  padding: 14px;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.items {
  width: 100px;
  padding: 12px;
  text-align: center;
}
.link_items {
  text-decoration: none;
  color: #000;
  transition: all 200ms;
}
.link_items:hover {
  color: #5574ee;
}
.active {
  padding: 12px;
  color: #fff;
  border-radius: 15px;
  font-weight: bold;
  background-image: linear-gradient(71deg, #3ac2ff 50%, #2f56ff);
}
.active:hover {
  color: #000;
}
.section_icons {
  width: 300px;
  display: flex;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}
.group_icons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_user {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status_user {
  width: 68px;
  padding: 0.4rem;
  border-radius: 3px;
  text-align: center;
  background-color: #edfdfa;
  color: #1f927f;
}
.image_user {
  border-radius: 100%;
}
@media screen and (max-width: 980px) {
  .header {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem 1rem 1rem;
  }
  .group_icons {
    display: none;
  }
  .section_logo {
    display: none;
  }
}
