@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins";
  background-color: #c9d3f4;
}
.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 200px;
  padding: 28px;
  background-color: #fff;
  border-radius: 7px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}
.skill_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skill_bar {
  width: 100%;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.skill_per {
  width: 100%;
  padding: 4px;
  background-color: #f140f4;
  opacity: 0;
  border-radius: 6px;
  position: relative;
  animation: skill_per_load 0.4s ease-in-out forwards;
}
.html {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.css {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.javascript {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.react {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.tooltip {
  position: absolute;
  right: -14px;
  top: -23px;
  font-size: 9px;
  background-color: #f440e2;
  color: #fff;
  font-weight: 500;
  padding: 2px 6px;
  border-radius: 3px;
  z-index: 1;
}
.tooltip::before {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #f440e2;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}
@keyframes skill_per_load {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
