.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #fffaea;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
}
.contain {
  width: 400px;
  height: 400px;
}
.icon {
  width: 100%;
  vertical-align: top;
  enable-background: new 0 0 320.9 277.3;
}
.beer {
  -webkit-animation-name: empty;
  animation-name: empty;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  fill: #f9cf68;
}
@-webkit-keyframes empty {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  30% {
    -webkit-clip-path: polygon(0 16%, 100% 12%, 100% 100%, 0% 100%);
    clip-path: polygon(0 16%, 100% 12%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 40%, 100% 44%, 100% 100%, 0% 100%);
    clip-path: polygon(0 40%, 100% 44%, 100% 100%, 0% 100%);
  }
  70% {
    -webkit-clip-path: polygon(0 69%, 100% 66%, 100% 100%, 0% 100%);
    clip-path: polygon(0 69%, 100% 66%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
@keyframes empty {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  30% {
    -webkit-clip-path: polygon(0 16%, 100% 12%, 100% 100%, 0% 100%);
    clip-path: polygon(0 16%, 100% 12%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 40%, 100% 44%, 100% 100%, 0% 100%);
    clip-path: polygon(0 40%, 100% 44%, 100% 100%, 0% 100%);
  }
  70% {
    -webkit-clip-path: polygon(0 69%, 100% 66%, 100% 100%, 0% 100%);
    clip-path: polygon(0 69%, 100% 66%, 100% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
