@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Vazir", "Tahoma", sans-serif;
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  direction: rtl;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.login_form {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.label_form {
  font-size: 36px;
}
.boxs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.input_box {
  width: 100%;
  display: flex;
  position: relative;
  padding: 20px 0;
}
.inputs {
  width: 100%;
  height: 100%;
  padding: 14px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  font-family: "Vazir", "Tahoma", sans-serif;
  color: #fff;
}
.inputs::placeholder {
  color: #fff;
}
.icons {
  position: absolute;
  left: 24px;
  top: 38%;
}
.remember_forgot {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  margin-bottom: 12px;
}
.checkbox_box {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox_input {
  accent-color: #fff;
  margin-left: 3px;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
.button_login {
  width: 100%;
  padding: 12px;
  border-radius: 40px;
  border: none;
  outline: none;
  background: #fff;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Vazir", "Tahoma", sans-serif;
}
.button_login:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
}
.register_link {
  font-size: 14.5px;
}
.link_register {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.link_register:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}
