.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #27272c;
}
.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  padding-top: 280px;
  padding-left: 10px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
.buttons {
  width: 160px;
  padding: 16px;
  background: #444;
  color: #fff;
  font-size: 1rem;
  border: none;
  letter-spacing: 0.1rem;
  transition: 0.2s;
  position: relative;
}
.buttons:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}
button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
}
.span_buttons {
  position: relative;
  z-index: 1;
}
.effect_buttons {
  position: absolute;
  inset: 0;
  display: block;
}
.effect_buttons::before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
.buttons:hover .effect_buttons::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}
.effect_buttons::after {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}
.buttons:hover .effect_buttons::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}
