.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background_heart.jpg");
  font-family: "Pixelify Sans", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
#container_envelope {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.envelope {
  width: 220px;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
.title {
  font-size: 40px;
}
#container_letter {
  width: 900px;
  display: none;
  justify-content: center;
  align-items: center;
}
.letter_window {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-image: url("../images/window.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}
.letter_window.open {
  transform: scale(1);
  opacity: 1;
}
#letter_title {
  font-size: 30px;
  margin-top: 40px;
}
.cat {
  width: 250px;
  margin-top: 40px;
}
.buttons {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.buttons {
  width: 100px;
  cursor: pointer;
}
.button_yes,
.button_no {
  width: 100px;
  display: inline-block;
}
.button_yes {
  z-index: 2;
  transform-origin: center center;
  transition: transform 0.3s ease;
}
.button_no {
  z-index: 1;
  transition: transform 0.15s ease;
}
.final_text {
  width: 500px;
  display: none;
  padding: 10px;
  font-size: 20px;
  line-height: 1.4;
  background-color: rgba(255, 240, 240, 0.5);
  border-radius: 12px;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
