@font-face {
  font-family: "Tanha";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Tanha-FD.woff2");
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: Tanha;
  background-color: #957c96;
  direction: rtl;
}
.sidbar_nav {
  width: 100%;
  display: flex;
  padding-top: 80px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.label_toggle_sidbar {
  cursor: pointer;
}
.label_toggle_sidbar::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  backdrop-filter: blur(12px);
  transition: all 250ms ease-out;
  position: absolute;
  left: 692px;
  top: 110px;
  z-index: 100;
}
.label_toggle_sidbar::after {
  content: "";
  width: 10px;
  height: 10px;
  display: flex;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(-43deg);
  transition: all 250ms ease-out;
  position: absolute;
  top: 117px;
  left: 695px;
  z-index: 120;
}
.label_toggle_sidbar:hover::before {
  background-color: #000;
}
.label_toggle_sidbar:hover::after {
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
.list_item_nav {
  width: 80px;
  padding: 24px;
  background-color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(22px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 250ms ease-out;
  list-style-type: none;
}
.items {
  color: #fff;
  display: flex;
  margin-bottom: 20px;
  height: 40px;
  align-items: center;
  padding: 4px 5px;
  flex-wrap: nowrap;
  border-radius: 5px;
  transition: all 250ms ease-out;
  position: relative;
}
.items:hover {
  background-color: #fff;
}
.link_items {
  text-decoration: none;
  color: #fff;
  flex: 1;
  text-align: center;
  transform: translateX(26px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.link_items:hover {
  color: #000;
}
.icon_items {
  font-size: 33px;
}
.count_notification {
  width: 20px;
  height: 20px;
  background-color: #e52aeb;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
}
#toggle_sidbar:checked + .label_toggle_sidbar + .list_item_nav {
  width: 10.5rem;
}
#toggle_sidbar:checked + .label_toggle_sidbar + ul li a {
  transform: translateX(0);
  opacity: 1;
}
#toggle_sidbar:checked + .label_toggle_sidbar::before {
  margin-left: -40px;
}
#toggle_sidbar:checked + .label_toggle_sidbar::after {
  transform: rotate(131deg);
  margin-left: -34px;
}
