.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 250px;
  justify-content: center;
  align-items: center;
}
#battery {
  height: 7.8em;
  width: 17.5em;
  margin: auto;
  display: grid;
  box-sizing: content-box;
  border: 0.6em solid #2485ed;
  border-radius: 0.6em;
  place-items: center;
}
#battery:before {
  content: "";
  height: 5em;
  width: 1.1em;
  margin-left: 289px;
  margin-top: 18px;
  background-color: #248ced;
  border-radius: 0 0.3em 0.3em 0;
}
#charge {
  height: 6.5em;
  width: 16.25em;
  background-color: #24c1ed;
  margin-left: -50px;
  margin-top: -100px;
}
#charge-level {
  font-size: 3em;
  font-weight: 500;
  margin-top: -118px;
}
#charging-time {
  font-size: 1.7em;
  margin-top: 1.4em;
  text-align: center;
}
.active {
  animation: charge-animation 3s infinite linear;
}
@keyframes charge-animation {
  0% {
    width: 0;
  }
  100% {
    width: 16.25em;
  }
}
