@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #212121;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  list-style: none;
}
.link {
  position: relative;
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 4em;
  font-weight: 700;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.link:hover {
  color: rgba(255, 255, 255, 0.1);
  transition-delay: 0.5s;
}
.link::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.35em;
  color: #d83bff;
  font-weight: 500;
  letter-spacing: 40px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 10px #d83bff, 0 0 30px #d83bff, 0 0 80px #d83bff;
}
.list_item:hover .link::before {
  opacity: 1;
  letter-spacing: 6px;
  transition-delay: 0.5s;
}