.body {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #151f28;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 400px;
  justify-content: center;
  align-items: center;
}
.pixel_btn {
  width: 180px;
  height: 60px;
  position: relative;
  border: none;
  background: #333;
  color: white;
  font-size: 1.15em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}
.text_button {
  position: relative;
  z-index: 2;
}
.pixel_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.pixel_container .pixel {
  width: 10px;
  height: 10px;
  position: absolute;
  pointer-events: none;
  background: var(--clr);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.pixel_btn:hover .pixel {
  opacity: 0;
  transform: translate(var(--tx), var(--ty));
}
