@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins";
  background-color: #dde1e7;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
}
.keyboard_section {
  width: 1000px;
  background-color: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  padding: 25px;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin: 18px 0;
  justify-content: center;
  align-items: center;
}
.input_button {
  border: none;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.3);
  height: 50px;
  min-width: 50px;
  font-size: 20px;
  color: #808080;
  border-radius: 5px;
  cursor: pointer;
}
.space_button {
  width: 60%;
}
.input_button:focus {
  color: #b734db;
  font-size: 19px;
  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 2px 2px 5px rgba(94, 104, 121, 0.3);
}
@media screen and (max-width: 800px) {
  .keyboard_section {
    width: 500px;
  }
  .row {
    gap: 10px;
  }
  .input_button {
    height: 30px;
    min-width: 30px;
    font-size: 12px;
  }
  .input_button:focus {
    color: #3498db;
    font-size: 8px;
  }
}
@media screen and (max-width: 450px) {
  .keyboard_section {
    width: 400px;
  }
  .input_button {
    height: 20px;
    min-width: 20px;
    font-size: 9px;
  }
}
