@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #202225;
  perspective: 1000px;
}
.container::before {
  content: "";
  height: 240px;
  width: 240px;
  margin-top: -160px;
  position: relative;
  left: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90deg, #b9298b, #f3f5f5);
}
.container::after {
  content: "";
  height: 240px;
  width: 240px;
  margin-top: 180px;
  position: relative;
  left: -100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90deg, #b9298b, #f3f5f5);
}
.card_box {
  width: 428px;
  height: 278px;
  z-index: 100;
  transition: 0.6s;
  transform-style: preserve-3d;
}
.card_box:hover {
  transform: rotateY(180deg);
}
.card {
  width: 375px;
  height: 225px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(25px);
}
.front_face {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: flex-start;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
  width: 160px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.image_logo {
  width: 48px;
}
.image_chip {
  width: 50px;
}
.card_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  font-size: 10px;
  font-weight: 400;
}
.name_number {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
}
.card_number {
  font-size: 10px;
}
.number {
  margin-top: -20px;
}
.valid_date {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: flex-end;
}
.date {
  font-size: 16px;
}
.back_face {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  font-size: 8px;
  transform: rotateY(180deg);
}
.magnetic_strip {
  width: 100%;
  height: 45px;
  position: absolute;
  left: 0;
  top: 54px;
  background: #000;
}
.signature {
  width: 85%;
  height: 40px;
  display: flex;
  margin-top: 68px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: repeating-linear-gradient(
    #fff,
    #fff 3px,
    #efefef 0px,
    #efefef 9px
  );
}
