.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #333333;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container_one {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 250px;
  align-items: center;
  justify-content: center;
}
.container {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #7a949d;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0005);
  padding-bottom: 70px;
}
.label_input {
  color: #1e4357;
  font-weight: 600;
}
.input_box {
  width: 100%;
  display: flex;
}
.input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  color: aliceblue;
  font-size: 16px;
  background: #27353c;
  border-radius: 2px;
}
.show {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #63bac8;
  border: 2px solid #455c83;
  cursor: pointer;
  font-size: 0.6em;
  color: aliceblue;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.show::before {
  content: "Show";
}
.show.hide::before {
  content: "Hide";
  width: 60px;
}
.strength_meter {
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #222;
}
.strength_meter::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  transition: 0.5s;
  background: #f00;
}
.strength_meter::after {
  position: absolute;
  top: -45px;
  left: 30px;
  transition: 0.5s;
  color: aliceblue;
}
.weak .strength_meter::before {
  width: 10%;
  background: #f00;
  filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00)
    drop-shadow(0 0 20px #f00);
  -webkit-filter: drop-shadow(0 0 5px #f00) drop-shadow(0 0 10px #f00)
    drop-shadow(0 0 20px #f00);
}
.moderate .strength_meter::before {
  width: 70%;
  background: #eedc3d;
  filter: drop-shadow(0 0 5px #eedc3d) drop-shadow(0 0 10px #eedc3d)
    drop-shadow(0 0 20px #eedc3d);
}
.strong .strength_meter::before {
  width: 100%;
  background: #18e605;
  filter: drop-shadow(0 0 5px #18e605) drop-shadow(0 0 10px #18e605)
    drop-shadow(0 0 20px #18e605);
}
.weak .strength_meter::after {
  content: "Weak Password";
  color: #f00;
  filter: drop-shadow(0 0 5px#f00);
}
.moderate .strength_meter::after {
  content: "Moderate Password";
  color: #eedc3d;
  filter: drop-shadow(0 0 5px#eedc3d);
}
.strong .strength_meter::after {
  content: "Strong Password";
  color: #18e605;
  filter: drop-shadow(0 0 5px#18e605);
}
