@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* --item1-transform: translateX(-100%) translateY(-5%) scale(1.5); */
  --item1-filter: blur(30px);
  --item1-zIndex: 11;
  --item1-opacity: 0;

  --item2-transform: translateX(0);
  --item2-filter: blur(0px);
  --item2-zIndex: 10;
  --item2-opacity: 1;

  --item3-transform: translate(40%, 10%) scale(0.8);
  --item3-filter: blur(10px);
  --item3-zIndex: 9;
  --item3-opacity: 1;

  --item4-transform: translate(90%, 20%) scale(0.5);
  --item4-filter: blur(30px);
  --item4-zIndex: 8;
  --item4-opacity: 1;

  --item5-transform: translate(120%, 30%) scale(0.3);
  --item5-filter: blur(40px);
  --item5-zIndex: 7;
  --item5-opacity: 0;
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  direction: rtl;
  background-color: #f4f4f4;
  font-family: "Vazirmatn", sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 260px;
  padding: 0 80px;
  justify-content: center;
  align-items: center;
}
/* Header */
.header {
  width: 100%;
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
.logo {
  width: 250px;
  font-weight: 700px;
  font-size: 20px;
  color: #3c3c3c;
  text-decoration: none;
  transition: all 1s;
}
.logo:hover {
  color: rgb(21, 117, 132);
}
.navbar {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_links {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: all 1s;
}
.nav_links:hover {
  color: rgb(21, 117, 132);
  text-decoration: underline;
  text-underline-offset: 6px;
}
/* Footer */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button_prev_next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-family: monospace;
  border: 1px solid #5555;
  font-size: large;
  cursor: pointer;
  transition: all 1s;
}
.button_prev_next:hover {
  color: rgb(21, 117, 132);
}
.button_views {
  width: 120px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #555;
  font-weight: bold;
  letter-spacing: 3px;
  transition: opacity 0.5s;
  background-color: transparent;
  font-family: "Vazirmatn", sans-serif;
  transition: all 1s;
}
.button_views:hover {
  color: rgb(21, 117, 132);
}
/* Main */
.carousel {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.carousel::before {
  width: 500px;
  height: 300px;
  content: "";
  background-image: linear-gradient(70deg, #1f94b5, rgb(200, 0, 255));
  position: absolute;
  z-index: -1;
  border-radius: 20% 30% 80% 10%;
  filter: blur(150px);
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
  transition: 1s;
}
.carousel.showDetail::before {
  transform: translate(-100%, -50%) rotate(90deg);
  filter: blur(130px);
}
.list_carousel {
  width: 1340px;
  display: flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
}
.item_slider {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 15px;
  transition:
    left 0.5s,
    opacity 0.5s,
    width 0.5s;
}
.introduce_slider {
  width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
}
.topic_slider {
  font-size: 40px;
  line-height: 1em;
}
.title_slider {
  font-size: 38px;
}
.description_slider {
  font-size: small;
  color: #5559;
}
.image_box {
  width: 400px;
  width: 50%;
  position: absolute;
  left: 0;
  transition: left 1.5s;
}
/* Details */
.details_slider {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
}
.subtitle_details {
  font-size: small;
}
.specifications_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5553;
  padding-top: 14px;
}
.items {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.checkout_details {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.button_cart {
  width: 100px;
  padding: 8px;
  font-family: "Vazirmatn", sans-serif;
  background-color: transparent;
  border: 1px solid #5555;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}
.button_cart:hover {
  background-color: #693eff;
  color: #eee;
}
.button_buy {
  width: 80px;
  padding: 8px;
  font-family: "Vazirmatn", sans-serif;
  background-color: #693eff;
  color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s;
}
.button_buy:hover {
  background-color: transparent;
  border: 1px solid #5555;
  color: #000;
}
/* Transform */
.item_slider:nth-child(n + 5) {
  opacity: 0;
}
.item_slider:nth-child(2) {
  z-index: 10;
  transform: translateX(0);
}
.item_slider:nth-child(2) .introduce_slider {
  width: 400px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s;
}
.item_slider:nth-child(1) {
  /* transform: var(--item1-transform); */
  filter: var(--item1-filter);
  z-index: var(--item1-zIndex);
  opacity: var(--item1-opacity);
  pointer-events: none;
}
.item_slider:nth-child(3) {
  transform: var(--item3-transform);
  filter: var(--item3-filter);
  z-index: var(--item3-zIndex);
}
.item_slider:nth-child(4) {
  transform: var(--item4-transform);
  filter: var(--item4-filter);
  z-index: var(--item4-zIndex);
}
/* Animation text in item2 */
.item_slider:nth-child(2) .introduce_slider .title_slider,
.item_slider:nth-child(2) .introduce_slider .topic_slider,
.item_slider:nth-child(2) .introduce_slider .description_slider,
.item_slider:nth-child(2) .introduce_slider .button_see_more {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.item_slider:nth-child(2) .introduce_slider .topic_slider {
  animation-delay: 1.2s;
}
.item_slider:nth-child(2) .introduce_slider .description_slider {
  animation-delay: 1.4s;
}
.item_slider:nth-child(2) .introduce_slider .button_see_more {
  animation-delay: 1.6s;
}
/* next click */
.button_next .item_slider:nth-child(1) {
  animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}
.button_next .item_slider:nth-child(2) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.button_next .item_slider:nth-child(3) {
  animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}
/* previous */
.button_prev .item_slider:nth-child(4) {
  animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}
.button_prev .item_slider:nth-child(3) {
  animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}
.button_prev .item_slider:nth-child(2) {
  animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}
/* showDetail */
.carousel.showDetail .item_slider:nth-child(3),
.carousel.showDetail .item_slider:nth-child(4) {
  left: 100%;
  opacity: 0;
  pointer-events: none;
}
.carousel.showDetail .item_slider:nth-child(2) {
  width: 100%;
}
.carousel.showDetail .item_slider:nth-child(2) .introduce_slider {
  opacity: 0;
  pointer-events: none;
}
.carousel.showDetail .item_slider:nth-child(2) .image_box {
  left: 48%;
}
.carousel.showDetail .item_slider:nth-child(2) .details_slider {
  opacity: 1;
  width: 600px;
  pointer-events: auto;
}
.carousel.showDetail .item_slider:nth-child(2) .specifications {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5553;
  padding-top: 14px;
}
.carousel.showDetail .item_slider:nth-child(2) .items {
  width: 90px;
  text-align: center;
  flex-shrink: 0;
}
.carousel.showDetail .item_slider:nth-child(2) .title_slider,
.carousel.showDetail .item_slider:nth-child(2) .description_slider,
.carousel.showDetail .item_slider:nth-child(2) .specifications,
.carousel.showDetail .item_slider:nth-child(2) .checkout_details {
  opacity: 0;
  animation: showContent 0.5s 1s ease-in-out 1 forwards;
}
.carousel.showDetail .item_slider:nth-child(2) .description_slider {
  animation-delay: 1.2s;
}
.carousel.showDetail .item_slider:nth-child(2) .specifications {
  animation-delay: 1.4s;
}
.carousel.showDetail .item_slider:nth-child(2) .checkout_details {
  animation-delay: 1.6s;
}
.carousel.showDetail #back {
  opacity: 1;
}
.carousel.showDetail #prev,
.carousel.showDetail #next {
  opacity: 0;
  pointer-events: none;
}
/* Animations keyframes */
@keyframes showContent {
  from {
    transform: translateY(-30px);
    filter: blur(10px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes transformFromPosition2 {
  from {
    transform: var(--item2-transform);
    filter: var(--item2-filter);
    opacity: var(--item2-opacity);
  }
}
@keyframes transformFromPosition3 {
  from {
    transform: var(--item3-transform);
    filter: var(--item3-filter);
    opacity: var(--item3-opacity);
  }
}
@keyframes transformFromPosition4 {
  from {
    transform: var(--item4-transform);
    filter: var(--item4-filter);
    opacity: var(--item4-opacity);
  }
}
@keyframes transformFromPosition5 {
  from {
    transform: var(--item5-transform);
    filter: var(--item5-filter);
    opacity: var(--item5-opacity);
  }
}
@keyframes transformFromPosition1 {
  from {
    transform: var(--item1-transform);
    filter: var(--item1-filter);
  }
}
