.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: #031321;
  font-family: consolas;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 350px;
  justify-content: center;
  align-items: center;
}
.link {
  width: 220px;
  display: inline-block;
  padding: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2196f3;
  font-size: 24px;
  transition: 0.2s;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
.link:hover {
  color: #254584;
  background: #21d7f3;
  box-shadow:
    0 0 10px #219cf3,
    0 0 12px #21d7f3,
    0 0 14px #219cf3;
  transition-delay: 1s;
  border-radius: 5px;
}
.span_link {
  position: absolute;
  display: block;
}
.span_link:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
.link:hover .span_link:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.span_link:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
.link:hover .span_link:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.span_link:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
.link:hover .span_link:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.span_link:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
.link:hover .span_link:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
