:root {
  --bgColor: white;
  --inputColor: black;
  --outlineColor: dodgerblue;
  --beamColor: yellow;
  --spacer: 1rem;
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--bgColor);
  place-items: center;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
}
.form {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacer);
  transform: translate3d(0, 0, 0);
  font-size: 1.5rem;
  font-family: monospace;
  color: var(--inputColor);
}
.show-password {
  --bgColor: black;
  --inputColor: white;
  --outlineColor: var(--beamColor);
}
.input_box {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}
.input {
  width: 330px;
  padding: 18px;
  border: 2px solid transparent;
  border-radius: 0;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px black, inset 6px 6px 0 rgba(30, 144, 255, 0.2),
    3px 3px 0 rgba(30, 144, 255, 0.2);
  border-radius: 5px;
}
.input:focus,
.button_signin:focus {
  outline: 3px solid var(--outlineColor);
  outline-offset: 2px;
  outline-offset: 1px;
}
.show-password .input {
  box-shadow: inset 0 0 0 2px black;
  border: 2px dashed white;
  color: #fff;
}
.show-password .input_password {
  color: #000;
}
.show-password .input:focus {
  outline: none;
  border-color: var(--beamColor);
}
.input_wrapper {
  width: 380px;
  display: flex;
}
.button_eyeball {
  --size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: -44px;
}
.eye {
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--inputColor);
  border-radius: calc(var(--size) / 1.5) 0;
  transform: rotate(45deg);
  z-index: 1;
}
.eye:before,
.eye:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
}
.eye:before {
  width: 35%;
  height: 35%;
  background-color: var(--inputColor);
}
.eye:after {
  width: 65%;
  height: 65%;
  border: 2px solid var(--inputColor);
  border-radius: 100%;
}
.beam {
  width: 100vw;
  height: 25vw;
  position: absolute;
  top: 1.5%;
  right: 2.5rem;
  clip-path: polygon(100% 50%, 100% 50%, 0 0, 0 100%);
  mix-blend-mode: multiply;
  transition: transform 200ms ease-out;
  transform-origin: 100% 50%;
  pointer-events: none;
}
.show-password .beam {
  background: var(--beamColor);
}
.button_signin {
  width: 150px;
  padding: 14px;
  cursor: pointer;
  border: none;
  color: var(--bgColor);
  background-color: var(--inputColor);
  box-shadow: 4px 4px 0 rgba(30, 144, 255, 0.2);
  border-radius: 5px;
  font-size: 1.5rem;
}
.button_signin:active {
  transform: translateY(1px);
}
