@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
.body {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: rgb(157, 157, 231);
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}
.card {
  width: 300px;
  height: 400px;
  display: flex;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
}
.card:hover {
  width: 600px;
}
.image_box {
  min-width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: #fff;
}
.image_shoes {
  max-width: 250px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.card:hover .image_shoes {
  transform: rotate(-20deg);
}
.details {
  width: 300px;
  height: 400px;
  display: flex;
  padding: 25px;
  flex-direction: column;
  gap: 10px;
  background: #85c4f7;
  justify-content: center;
  align-items: flex-start;
  transition: 0.5s ease-in-out;
}
.details::before {
  width: 300px;
  content: "";
  z-index: 1;
}
.name_shoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1em;
}
.name_part_two {
  font-size: 0.65em;
  font-weight: 300;
  opacity: 0.85;
  text-transform: none;
}
.product_details {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  line-height: 1em;
}
.paragraph {
  color: #fff;
  font-size: 0.8em;
  opacity: 0.85;
}
.size {
  width: 100%;
  display: flex;
  padding: 0;
  flex-direction: row;
  gap: 5px;
}
.size_shoes {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #fff;
  font-size: 0.9em;
  border: 2px solid #fff;
  cursor: pointer;
  font-weight: 500;
  opacity: 0.5;
}
.size_shoes:hover {
  background: #fff;
  color: #4ba9e9;
  opacity: 1;
}
.group {
  width: 300px;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-left: -30px;
  justify-content: center;
  align-items: flex-start;
}
.price {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
}
.sup {
  font-weight: 300;
}
.link {
  display: inline-flex;
  padding: 10px;
  background: #fff;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #4ba9e9;
  border-radius: 5px;
}
